<div id="cube">
    <div class="row">
        <input type="text" name="digit" class="grid" id="grid">
        <input type="text" name="digit" class="grid">
        <input type="text" name="digit" class="grid">
    </div>
    <div class="row">
        <input type="text" name="digit" class="grid">
        <input type="text" name="digit" class="grid">
        <input type="text" name="digit" class="grid">
    </div>
    <div class="row">
        <input type="text" name="digit" class="grid">
        <input type="text" name="digit" class="grid">
        <input type="text" name="digit" class="grid">
    </div>
</div>

<div id="checkBtn">
    <button (click)="readNums()">
        Check
    </button>
</div>