div#cube {
    border: 2px solid rgba(52, 93, 112, 0.822);
    margin: 20px;
    padding: 15px;
    width: 322px;
    border-radius: 10px;
    margin-left: 38%;
    margin-top: 2%;
}

div.row {
    display: block;
}

div.row input {
    font-size: 500%;
    text-align: center;
    border-radius: 5px;
    width: 100px;
    height: 100px;
}

div#checkBtn button {
    font-size: 130%;
    background-color: rgba(255, 255, 255, 0.61);
    transition: 0.2s;
    border-radius: 5px;
    width: 200px;
    height: 50px;
    cursor: pointer;
    margin-left: 43%;
}

div#checkBtn button:hover {
    font-size: 135%;
    background-color: rgba(116, 144, 160, 0.61);
    transition: 0.2s;
}

div#checkBtn button:active {
    background-color: rgba(7, 69, 105, 0.61);
    transition: 0.2s;
}

div#message h4 {
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 120%;
    text-shadow: 2px 2px 5px rgba(105, 105, 105, 0.678);
}